body {
    background-color: cornflowerblue;
}

.burly {
    color: burlywood;
    font-size: 22px;
}

h1 {
    color: red;
}
#the-heading {
    color: gray;
    height: 40px;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}

/* paragraph with the class burly*/
p#main.burly.content {}

/* anything with the class burly, inside of a paragraph */
p .burly {}

p {
    font-size: 16px;
    font-family: sans-serif;
}


